{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
       Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
       <ul>
              {% for r in rock %}
                     {{r}}
              <li><a href="{% url 'rocks/rock_detail' %}">{{ rock.name }}</a></li>
              {% endfor %}
       </ul>
       <link rel="stylesheet" href="{% static 'css/style.css' %}" />
       <img src="{% static 'images/meaganfoxy.jpg' %}" alt=""/>
{% endblock content %}





